<!--<button data-modal-open class="enter-btn" type="button">Enter</button>-->
<!-- is-hidden -->
<div data-modal class="backdrop-modal-login is-hidden">
  <div class="auth-form" id="auth-form">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form>
        <label class="form-login__label" for="chk" aria-hidden="true"
          >Sign up</label
        >
        <input
          class="form-login__input user_name"
          type="text"
          name="txt"
          placeholder="User name"
        />
        <input
          class="form-login__input user_login"
          type="email"
          name="email"
          placeholder="Email"
        />
        <input
          class="form-login__input user_password"
          type="password"
          name="pswd"
          placeholder="Password"
        />
        <button class="btn-sign form-login__submit" type="submit">
          Sign up
        </button>
      </form>
    </div>

    <div class="login">
      <form>
        <label class="form-login__label" for="chk" aria-hidden="true"
          >Login</label
        >
        <input
          class="form-login__input user_login"
          type="email"
          name="email"
          placeholder="Email"
          id="user_login"
        />
        <input
          class="form-login__input user_password"
          type="password"
          name="pswd"
          placeholder="Password"
          id="user_password"
        />
        <button class="btn-login form-login__submit" type="submit">
          Login
        </button>
      </form>
    </div>
    <button
      class="login-window__close"
      data-modal-close
      aria-label="button for close registration window"
    >
      <svg height="11" width="11">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <!-- <form class="form-login" id="form-login">
      <p class="form-login__authorized">Sign Up</p>
      <div class="form-login__item form-login__margin">
        <label class="login-lbl" for="user_login">Email</label>
        <span class="login-wrapper">
          <input
            class="register-input login"
            type="email"
            name="user_login"
            id="user_login"
            placeholder="Login"
            required
          />
          <svg class="icon-email" width="20" height="20">
            <use href="./images/sprite.svg#icon-email"></use>
          </svg>
        </span>
      </div>
      <div class="form-login__item">
        <label class="password-lbl" for="user_password">Password</label>
        <span class="login-wrapper">
          <input
            id="user_password"
            class="register-input password"
            type="password"
            name="user_password"
            placeholder="Password"
          />
          <svg class="icon-key" width="20" height="20">
            <use href="./images/sprite.svg#icon-key"></use>
          </svg>
        </span>
      </div>
      <div class="form-login__item form-login__item--row">
        <button class="btn-login form-login__submit" type="submit">
          Log in
        </button>
        <button class="btn-sign form-login__submit" type="submit">
          Sign up
        </button>
      </div>
    </form> -->
  <!-- <button
    class="login-window__close"
    data-modal-close
    aria-label="button for close registration window"
  >
    <svg height="11" width="11">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button> -->

  <!-- <button class="test" type="button">test</button>-->
</div>
