$mainCubicBazier: cubic-bezier(0.4, 0, 0.2, 1);
$mainTransitionDuration: 250ms;

.backdrop-modal-login {
    overflow-y: scroll;

    @media screen and (max-width: 767px) {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    @media screen and (min-width:767px) and (max-width:1279px) {
        padding-top: 208px;
        padding-bottom: 208px;

    }

    position: fixed;
    left: 0;
    top:0;
    width: 100vw;
    height: 100%;
         
    background-color: rgba(0, 0, 0, 0.725);
    opacity: 1;
    transition-property: opacity;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;

    z-index: 4; //

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    display: none;
}

.is-hidden {
    @media screen and (max-width: 1199px) {
        & .auth-form{
            scale: 0.1;
        }
    }

    @media screen and (min-width: 1280px) {
        & .auth-form {
            transform: translate(-50%, -50%) scale(0.1);
            opacity: 0.1;
        }
    }
}

// .login-window {

//     z-index: 5; //
//     margin-left: auto;
//     margin-right: auto;
//     position: relative;
//     width: 280px;
//     height: 350px;

//     @media screen and (min-width:767px) {
//         width: 336px;
//         height: 370px;
//     }

//       @media screen and (min-width: 1280px) {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         width: 400px;
//         height: 370px;
//         transform: translate(-50%, -50%) scale(1);
//         transition-property: transform, opacity;
//         transition-duration: $mainTransitionDuration;
//         transition-timing-function: $mainCubicBazier;

//     }

//     background-color: #fff;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
//     0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 10px;
//     border: 2px solid #FF6B08;
// }

.login-window__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height:30px;
    width: 30px;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition-property: fill;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;

    &:hover,
    &:focus {
        fill: #fff;
            border: 1px solid #fff;
    }
}

// .form-login {
//     padding: 40px 40px 40px 40px;
//     // height: 100%;
//     font-family: inherit;

//     // @media screen and (max-width:479px) {
//     //     padding: 40px 15px 40px 15px;
//     // }

//     display: flex;
//     align-content: center;
//     justify-content: center;
//     flex-direction: column;


// }

// .login,
// .password {
//     outline: none;
//     border: 2px solid rgba(128, 128, 128, 0.409);
//     border-radius: 5px;
//     height: 36px;
//     width:100%;
//     padding-left: 40px;
// }

// .login:focus,
// .password:focus {
//     border-color: #FF6B08;
// }

// .form-login__item {
//     display: flex;
//     row-gap: 5px;
//     flex-direction: column;
//     margin-top: 20px;
// }

// .form-login__item--row {
//     flex-direction: row;
//     column-gap: 50px;
//     justify-content: center;
//     margin-top: 40px;
// }

// .form-login__submit {
//     display: block;
//     padding-left: 5px;
//     padding-right: 5px;
//     height: 40px;
//     width: 80px;
//     border: none;
//     border: 1px solid #000000;
//     border-color: $primary-black-color;
//     border-radius: 5px;
// transition: background-color $cubic, border-color $cubic, color $cubic;
//     @media screen and (max-width: 360px) {
//         // width: 60px;
//         // height: 40px;
//     }
// }

// .form-login__submit:hover,
// .form-login__submit:focus {
//     background-color: #FF6B08;
//     color: #fff;
//     border-color: transparent;
// }

// .form-login__margin {
  
//     @media screen and (min-width: 768px) {
//             margin-top: 40px;
//         }
//                 //  @media screen and (min-width: 1280px) {
//                 //      margin-top: 60px;
//                 //  }
// }


// .btn-log-out {
//     margin-left: auto;
//     margin-right: auto;
// }

// .profile__photo {

//     height: 100px;
//     width: 100px;
//     display: flex;
//     justify-content: center;

//     background-color: #FF6B08;
//     border-radius: 50px;
//     margin-left: auto;
//     margin-right: auto;
//     border: 1px solid black;
// }


// .form-login__authorized{
//     font-family: inherit;
//     font-weight: 700;
//     text-align: center;
//     font-size: 20px;
//     @media screen and (min-width: 767px) {
//             font-size: 22px;
//         }
//                  @media screen and (min-width: 1280px) {
//                      font-size: 24px;
//                  }
// }


// .add-features {
//     width: 100px;
//     height: 43px;
//     font-size: 12px;
//     color: #b3b3b3;
//     text-align: center;
//     @media screen and (min-width: 768px) {
//         width: 100%;
//         height: auto;
//         font-size: 18px;
//     }
// }

// .login-wrapper {
//     display: block;
//     position: relative;
// }

// .icon-email, .icon-key {
//     position: absolute;
//     top: 8px;
//     left: 12px;
//     fill: $primary-black-color;

// }

// .auth-form {
// 	width: 350px;
// 	height: 500px;
// 	background: #b40320;
// 	overflow: hidden;
// 	// background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
// 	border-radius: 10px;
// 	box-shadow: 5px 20px 50px #000;
// }

.auth-form {
overflow: hidden;
border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    background: #b40320;


    z-index: 5; //
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 300px;
	height: 450px;

    @media screen and (min-width:767px) {
        width: 350px;
	    height: 500px;
    }

      @media screen and (min-width: 1280px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%) scale(1);
        transition-property: transform, opacity;
        transition-duration: $mainTransitionDuration;
        transition-timing-function: $mainCubicBazier;

    }

 
}

#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.form-login__label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
    padding-top: 10px;
	transition: .5s ease-in-out;
}
.form-login__input{
	width: 80%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    font-size: 16px;
    @media screen and (min-width:768px) {
        height: 40px;
        width: 70%;
    }
}
.form-login__submit, .form-login__submit{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #b40320;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}


.form-login__submit {
    background-color: #fff;
	color: #860118;
    border: 1px solid #860118;
    &:hover {
	background: #860118;
     color: #fff;
    }
}
.form-login__login:hover{
	background: #860118;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login .form-login__label{
	color: #b40320;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login .form-login__label{
	transform: scale(1);	
}
#chk:checked ~ .signup .form-login__label{
	transform: scale(.6);
}



// Profile window 
.profile-window {
background-color: #fff;
position: absolute;
right: 0;
top:60px;
z-index: 2;
padding: 10px;
box-shadow: 5px 20px 50px #000;
transition: all 300ms  cubic-bezier(0.4, 0, 0.2, 1);
 &.isHidden {
top:-200px;
 }

&:before { 
	content: ' '; 
	position: absolute; 
    top:-10px;
    right:10px;
    width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 10.5px 10px 10.5px;
   border-color: transparent transparent #fff transparent;
   transform: rotate(0deg);
}

@media screen and (min-width: 768px) {
    top:70px;
  }
}






.profile-window__greet {
     margin-bottom: 20px;
     text-align: center;
     font-size:16px;
}

.profile-window__text {
     font-size: 12px;
     font-style: italic;
     margin-bottom: 10px;
}

.profile-window__email, .profile-window__user  {
    font-weight: 500;
    color:#b40320;
   
}