$mainCubicBazier: cubic-bezier(0.4, 0, 0.2, 1);
$mainTransitionDuration: 250ms;

.backdrop-modal-login {
    overflow-y: scroll;

    @media screen and (max-width: 767px) {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    @media screen and (min-width:767px) and (max-width:1279px) {
        padding-top: 208px;
        padding-bottom: 208px;

    }

    position: fixed;
    left: 0;
    top:0;
    width: 100vw;
    height: 100%;
         
    background-color: rgba(0, 0, 0, 0.725);
    opacity: 1;
    transition-property: opacity;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;

    z-index: 4; //

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    display: none;
}

.is-hidden {
    @media screen and (max-width: 1199px) {
        & .auth-form{
            scale: 0.1;
        }
    }

    @media screen and (min-width: 1280px) {
        & .auth-form {
            transform: translate(-50%, -50%) scale(0.1);
            opacity: 0.1;
        }
    }
}


.login-window__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height:30px;
    width: 30px;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition-property: fill;
    transition-duration: $mainTransitionDuration;
    transition-timing-function: $mainCubicBazier;

    &:hover,
    &:focus {
        fill: #fff;
            border: 1px solid #fff;
    }
}

.auth-form {
overflow: hidden;
border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    background: #b40320;


    z-index: 5; //
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 260px;
	height: 450px;

    @media screen and (min-width:767px) {
        width: 350px;
	    height: 500px;
    }

      @media screen and (min-width: 1280px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%) scale(1);
        transition-property: transform, opacity;
        transition-duration: $mainTransitionDuration;
        transition-timing-function: $mainCubicBazier;

    }

 
}

#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.form-login__label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
    padding-top: 10px;
	transition: .5s ease-in-out;
}
.form-login__input{
	width: 80%;
	height: 30px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    font-size: 16px;
    @media screen and (min-width:768px) {
        height: 40px;
        width: 70%;
    }
}
.form-login__submit{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #b40320;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}


.form-login__submit {
    background-color: #fff;
	color: #860118;
    border: 1px solid #860118;
    &:hover {
	background: #860118;
     color: #fff;
    }
}
.form-login__login:hover{
	background: #860118;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login .form-login__label{
	color: #b40320;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login .form-login__label{
	transform: scale(1);	
}
#chk:checked ~ .signup .form-login__label{
	transform: scale(.6);
}



// Profile window 
.profile-window {
background-color: #fff;
position: absolute;
right: 0;
top:60px;
height:160px;
z-index: 2;
padding-left: 10px;
padding-right: 10px;
opacity: 1;
box-shadow: 5px 20px 50px #000;
transition: all 300ms  cubic-bezier(0.4, 0, 0.2, 1);
 &.isHidden {
    height:0;
    overflow: hidden;
    opacity:0;
 }

&:before { 
	content: ' '; 
	position: absolute; 
    top:-10px;
    right:10px;
    width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 10.5px 10px 10.5px;
   border-color: transparent transparent #fff transparent;
   transform: rotate(0deg);
}

@media screen and (min-width: 768px) {
    top:70px;
  }
}


.profile-window__greet {
     margin-bottom: 20px;
     text-align: center;
     font-size:16px;
     padding-top: 10px;
}

.profile-window__text {
     font-size: 12px;
     font-style: italic;
     margin-bottom: 10px;
}

.profile-window__email, .profile-window__user  {
    font-weight: 500;
    color:#b40320;
   
}

.btn-log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: #fff;
	background: #b40320;
	font-size: 1em;
	font-weight: bold;
    outline: none;
	border: none;
    padding:10px;
    border-radius: 5px;
    margin-top: 20px;
	transition: .2s ease-in;
	cursor: pointer;
    
}